.block-one > img {
  width: 1600px;
  height: 900px;
}

.block-one {
  position: relative;
  background-size: cover;
  min-height: 300px;
}

.logo {
  position: absolute;
  top: 20px;
  padding: 10px;
  color: #fff;
  font-family: fantasy;
  font-size: 30px;
  margin-left: 218px;
}

.menu {
  position: absolute;
  top: 30px;
  right: 600px;
  padding: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
}
.ul {
  display: flex;
  gap: 50px;
}
.ul li {
  list-style: none;
}

.ul > li > a {
  color: #fff;
  text-decoration: none;
}

.buttonHeader > button {
  position: absolute;
  top: 35px;
  right: 265px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  background: #c9453b;
  border: none;
}

.buttonHeader > button:hover {
  background-color: black;
}

.TextBlockOne > h1 {
  position: absolute;
  top: 286px;
  left: 218px;
  width: 804px;
  height: 154px;
  color: #fff;
  font-family: Gelasio;
  font-size: 65px;
  font-weight: 700;
}

.TextBlockOne > p {
  position: absolute;
  top: 470px;
  left: 218px;
  width: 458px;
  color: #a6a6a6;
  font-family: Roboto;
  font-size: 18px;
}

.TextBlockOne > button {
  position: absolute;
  top: 615px;
  left: 218px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 5px;
  background: #c9453b;
  border: none;
}

.TextBlockOne > button:hover {
  background-color: black;
}
